/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: lightblue;
    border: 0.05rem solid lightblue;
}

/*
 * Base structure
 */

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 1rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .main-nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: black;
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .main-nav-link:hover,
.nav-masthead .main-nav-link:focus {
    border-bottom-color: black;
}

.nav-masthead .main-nav-link + .main-nav-link {
    margin-left: 1rem;
}

.nav-masthead {
    color: black;
    border-bottom-color: black;
}

@media (min-width: 48em) {
    .nav-masthead {
        float: right;
    }
}

.dropdown-menu {
    margin-top: 0;
}

.nav-item.dropdown:hover {
    .dropdown-menu {
        display: block;
    }
}